@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* USE THE ARTIST PAGE ID */

.main-artist::before {
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 250px;
  right: 0;
  left: 0;
  bottom: 0;
  height: 350px;
  z-index: 6;
}

.main-artist {
  background-image: url(./artist-page/linkin-banner-image.jpg);
  width: 100%;
  height: 600px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#bring-forward {
  z-index: 10;
}

.title-block {
  max-width: 380px;
  position: relative;
  top: 45%;
}

#h6-banner {
  margin-top: 350px;
  margin-bottom: 0;
}

#home-page {
  width: 100%;
  height: 100%;
  font-family: "Cabin", sans-serif;
  background: linear-gradient(to right, #193d80, #07212b, #020607);
}

.row.home {
  margin-bottom: 5rem;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  z-index: 10;
}

.nav-link {
  border-bottom: 3px solid transparent;
}

/*.nav-link.active::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 25%;
  width: 40%;
  border-bottom: 3px solid rgb(0, 179, 0);
}*/

/*.nav-link:focus::after {
  content: "";
  display: inline-block;
  position: relative;
  left: 25%;
  width: 40%;
  border-bottom: 3px solid rgb(0, 179, 0);
} */

.fixed-bottom {
  border-top: 2px solid black;
}

.tracks {
  margin-bottom: 8%;
}
.nav-tabs {
  border-bottom: none;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 11vw;
  height: 92vh !important;
  background-color: #050505 !important;
  z-index: 10;
}

@media (max-width: 960px) {
  #sidebar {
    display: none !important;
    padding: 0 !important;
  }

  .sidebar {
    display: none !important;
  }
  .music-playing, .right {
    display: none!important;
  }

}


@media (max-width: 690px) {
  .dropdown button {
    display: none !important;
    margin-bottom: 30px;
  }
  .music-playing, .right {
    display: none!important;
  }

}

.active-link {
  border-left: 4px solid #1db954;
}

.navigation-link {
  padding-left: 1rem;
  margin-bottom: 1rem;
  height: 20px;
  color: #b3b3b3;
}

.navigation-link:hover,
.navigation-item:hover {
  color: #fff;
  text-decoration: none;
}

.navigation-item {
  height: 30px;
}

.navigation-link:hover {
  color: #fff;
  text-decoration: none;
}

.btn-success {
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 500px;
  background-color: #1db954;
  z-index: 11;
}

@media (max-width: 400px) {
  .btn-success {
    font-size: 0.7rem;
    padding: 0.25rem 1rem;
  }
}

.title {
  font-size: 1rem;
}

.artist {
  margin-left: 20px;
}

.bi-music-note {
  color: #9e9e9e;
}

.text-muted {
  color: #9e9e9e !important;
}

.track {
  margin-bottom: 0.5rem;
}

@media (max-width: 690px) {
  #sidebar {
    display: none !important;
  }

}

@media (max-width: 766px) {
  #artist-follow {
    display: none !important;
  }
  #ellipsis {
    display: none !important;
  }
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-item {
  color: #b3b3b3;
}

.sidebar-links {
  color: rgba(255, 255, 255, 0.5);
}

#album-cover {
  width: 70%;
  box-shadow: 1px 1px 10px black;
}

#tracklist {
  color: white;
  background-image: linear-gradient(
    270deg,
    #000000,
    #131313,
    #1f1f1f,
    #222121,
    #333333
  );
}

#artist-page {
  background: rgb(0, 0, 0);
}

.row.artist {
  margin-bottom: 5rem;
}

.row.tracks {
  margin-bottom: 7rem;
}

.sidebar-install-app {
  color: white;
}

.icons-player {
  color: rgb(199, 199, 199);
  width: 1rem;
  height: 2rem;
  margin: 0.4rem 0.8rem;
}

#play-button {
  width: 1.8rem;
  height: 2rem;
}

.right-buttons {
  width: 30%;
  margin-right: 20%;
}

#homepage-Login,
#homepage-signUp {
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  border: 2px solid #fff;
  max-width: 100%;
  height: 35px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage-signUp {
  color: #000000;
  background-color: #fff;
}

#artist-play {
text-transform: uppercase;
max-width: 130px!important;
height: 40px;
position: absolute;
top: 0;
left: -20px;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
border-radius: 500px;
background-color: #1db954;
z-index: 11;
color: #fff;
border: none;
}

#artist-follow:hover {
  background-color: #fff;
}

#artist-follow {
border-radius: 500px;
font-weight: 600;
font-size: 12px;
border: 2px solid #fff;
text-transform: uppercase;
width: 150px!important;
height: 40px;
position: relative;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
z-index: 10;
padding: 0 16px;
}

#ellipsis:hover {
  color: rgb(195, 195, 195);
}

#ellipsis {
  border-radius: 500px;
  font-weight: 600;
  font-size: 12px;
  border: 2px solid #fff;
  text-transform: uppercase;
  max-width: 50px!important;
  height: 40px;
  position: absolute;
  top: 0;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  border: none;
}
/*SEARCH BAR */
:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 2rem;
  --btn-width: 4rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
  position: relative;
  left: 0;
  width: 22rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input,
button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.2rem;
}

input[type="search"] {
  outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
  width: 60%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}

.search-item {
  width: 100%;
  height: 100%;
}

.search-item-img {
  width: 19%;
  height: 9vh;
  border-radius: 50%;
}
